* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('fonts/Pixel.ttf');
}

.wm-flappy {
    border: solid 5px dodgerblue;
    height: 100%;
    width: 100%;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    left: 50%;
    width: 60px;
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 120px;
    background: linear-gradient(90deg, green, #a5e82e);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, green, #a5e82e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: pixel;
    font-size: 80px;
    z-index: 100;
}