.about {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 10vh 40vh 20vh 15vh;
    grid-template-areas: 'photo icons icons'
        'photo i i'
        'i2 i2 i2'
        'd d d';
    background-color: #102340;
    color: white;
    height: 100%;
}

.photo {
    grid-area: photo;
    background-color: #102340;
}

.icons {
    grid-area: icons;
    background-color: #102340;
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    grid-area: i;
    background-color: #102340;
    margin-left: 3vh;
    margin-right: 3vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.info2 {
    grid-area: i2;
    background-color: #102340;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 0;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.info2 p,
.info2 h3 {
    margin: 0;
    overflow: hidden;
}

.downloads {
    grid-area: d;
    background-color: #102340;
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: inherit;
}

strong {
    text-decoration: underline;
    color: yellow;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    border-radius: 20%;
}

.button {
    border-radius: 0.8vh;
    cursor: pointer;
    background-color: #0039CC;
    color: white;
    font-size: 3vh;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.button:hover {
    background-color: #0070CC; 
}

.a-btn {
    width: 30vh;
    height: 8vh;
}