html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 85vh 7vh;
    grid-template-areas: "nav nav" "c c" "f f";
}

.navbar {
    grid-area: nav;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}