html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: "nav nav" "c c" "f f";
}

.navbar {
    grid-area: nav;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}