.contact {
    background-color: #102340;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
}

.l1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80vw;
    height: 30vh;
}

a svg {
    margin: 3vw;
}

@media (max-width: 3860px) and (min-width: 1024px) {
    .l1 {
        width: 60vw;
    }
}

@media (max-width: 425px) {
    .l1 {
        flex-direction: column;
        width: 50vw;
        height: 60vh;
        margin-bottom: 2vh;
        padding-top: 2vh;
    }
}