.home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   background-color: #102340;
   color: white;
   font-size: 14px;
   font-weight: bold;
   width: 100%;
   height: 100%;
}

.greetings {
   width: 100vw;
   height: 50%;
   font-size: 1.2em;
   margin: 2vh;
   align-items: center;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   overflow: auto;
}

.img-home {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 50%;
   margin-bottom: 2%;
}

.img-home img {
   width: 50%;
   height: 100%;
   margin: 0;
   border-radius: 0%;
}