.home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   background-color: #102340;
   color: white;
   font-weight: bold;
   height: 100%;
}

.greetings {
   margin: 0;
   align-items: center;
   font-family: 'Poppins', sans-serif;
   text-align: center;
}

.img {
   width: 70vmax;
   height: 30vmax;
}