nav {
    border-bottom: 1.8rem solid #0f132A;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #0f132A;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    font-size: 1.8rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1.8rem 1.8rem;
}

nav a:hover {
    background: white;
    color: black;
    font-weight: bold;
}